<p>myproduct works!</p>

<br><br>

<form action="" #prodForm="ngForm"(ngSubmit)=saveProduct(prodForm)>
    <table>
        <tr>
            <td>
                <label for="prodid" >Prod ID</label>
            </td>
            <td>
                <input type="text" name="prodid" ngModel required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="prodname" >Prod NAME</label>
            </td>
            <td>
                <input type="text" name="prodname" ngModel required minlength="2" maxlength="10" pattern="^[a-zA-Z]+$">
            </td>
        </tr>
        <tr>
            <td>
                <label for="price" >Prod PRICE</label>
            </td>
            <td>
                <input type="text" name="price" ngModel>
            </td>
        </tr>
        
        <tr>
            <td>
                 <label for="category" >Category</label>
            </td>
            <td>
                <select name="category" id="" required ngModel>
                    <option *ngFor="let f of categories"> {{f}}
                    </option>
                </select>
            </td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td>
                <button [disabled]="!prodForm.valid">Submit</button>
            </td>
        </tr>
    </table>
</form>

<br><br><br><br>

<table>
    <tr class="tableheader">
        <td>
            Product Id 
        </td>
        <td>
            Product Name
        </td>
        <td>
            Price
        </td>
        <td>
            Category
        </td>
        <td>
            Action
        </td>
    </tr>
    <tr *ngFor="let data of productArr let i = index">
        <td>
            {{data.prodid}}
        </td>
        <td>
            {{data.prodname}}
        </td>
        <td>
            {{data.price}}
        </td>
        <td>
            {{data.category}}
        </td>
        <td>
            <button (click)="itemDelete(i)">Delete</button>
        </td>

    </tr>
</table>

<div>
    <h3>
        Form Attributes
    </h3>
    <pre>
        Values:{{prodForm.value|json}}
    </pre>
    <pre>
        Form Valid:{{prodForm.valid}}
    </pre>
    <pre>
        Form Invalid:{{prodForm.invalid}}
    </pre>
    <pre>
        If form touched:{{prodForm.touched}}
    </pre>
</div>