<p>learn reactive form works!</p>
<hr>
<br><br>

<form action="" [formGroup]="prodForm"(ngSubmit)=saveData()>
  <table>
      <tr>
          <td>
              <label for="prodid" >Prod ID</label>
          </td>
          <td>
              <input type="text" name="productid" formControlName="prodid">
          </td>
      </tr>
      <tr>
          <td>
              <label for="prodname" >Prod NAME</label>
          </td>
          <td>
              <input type="text" name="productname" formControlName="prodname">
          </td>
      </tr>
      <tr>
          <td>
              <label for="price" >Prod PRICE</label>
          </td>
          <td>
              <input type="text" name="price" formControlName="price">
          </td>
      </tr>
      
      <tr>
          <td>
               <label for="category" >Category</label>
          </td>
          <td>
              <select name="category" id="" formControlName="category">
                  <option *ngFor="let f of categories"> {{f}}
                  </option>
              </select>
          </td>
      </tr>
      <br>
      <tr>
          <td></td>
          <td>
              <button [disabled]="!prodForm.valid">Submit</button>
          </td>
      </tr>
  </table>
</form>

